{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container-fluid container-banner" style="background-image: url('https://zupimages.net/up/21/05/jyvy.jpg')">
    <div class="row">
        <div class="col-md-12 banner">
            <div class="banner-text">
                <a href="{{ "connexion" }}"><button type="button" class="btn btn-primary">Commencer</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
