{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container-fluid container-banner" style="background-image: url('https://zupimages.net/up/21/05/jyvy.jpg')">
    <div class="row">
        <div class="col-md-12 banner">
            <div class="banner-text">
               <h1>Un besoin ? Il y a un freelancer pour ça !</h1>
            </div>
        </div>
        {% if not app.user %}
       <div class="container homeButtons">
        <a href="{{ "connexion" }}"><button class="btn btn-lg btn-primary formSubmit1">Je me connecte</button></a>
        <a href="{{ "register" }}"><button class="btn btn-lg btn-primary formSubmit2">Je crée mon compte</button></a>
       </div>   
       {% endif %}
</div>
</div>
{% endblock %}
