{% extends 'base.html.twig' %}

{% block title %}Éditer ma mission{% endblock %}

{% block body %}
<div class="bodyProfileContainer">
    <div class="container containerBlank"></div>
<div class="container-fluid profileContainer">
	<div class="row">
		<div class="col-md-8 profileInfo"></div>
        
		<div class="col-md-4 profilePhoto"></div>
	</div>
</div>
</div>
{% endblock %}
